:root {
    --bgColor: #3a4750;
    --contentBgColor: #be3144;
    --borderColor: #3d151b;
    --textColor: #d3d6db;
}

@font-face {
    font-family: 'kleeone';
    src: url('../fonts/kleeone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yujiboku';
    src: url('../fonts/YujiBoku-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'yujiboku' !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: var(--bgColor);
    color: var(--textColor);
    display: flex;
    height: 100vh;
}

.main-wrapper-grid {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    gap: 20px;
    text-align: center;
}

.search-box-wrapper {
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    padding: 10px;
}

.tenki-info-wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.today-conditions-wrapper-grid {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    gap: 10px;
    padding: 10px;
}

.today-conditions-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanji-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    border-radius: 999px;
}

#kanji-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70.71%;
    width: 70.71%;
    writing-mode: vertical-rl;
    font-size: clamp(1rem, 4vw, 4rem);
    line-height: 1.3ch;
    text-align: start;
}

.future-conditions-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    font-size: clamp(1rem, 2.5vw, 3rem);
}

.today-conditions-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.today-conditions-info-cell {
    display: grid;
    grid-template-rows: 1fr 3fr;
    border: 1px solid white;
}

.today-conditions-info-title {
    font-size: clamp(1rem, 1.5vw, 4rem);
}

.today-conditions-info-list {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.future-conditions-wrapper {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.future-conditions-title {
    font-size: clamp(0.5rem, 1.1vw, 3rem);
}

.future-conditions-board {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, 1fr);
}

.future-condition-day-grid {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.future-conditions-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.future-title {
    font-weight: bold;
}

#tenki-info {
    writing-mode: vertical-rl;
    margin: auto;
}